<div class="navbar navbar-dark bg-dark shadow-sm">
   <div class="container">
     <div class="footer-bar">
       <p class="navbar-brand d-flex align-items-center">
         <strong>About</strong>
       </p>
       <a href="#" class="navbar-brand d-flex align-items-center">
         <a class="text-muted">PromoTOOLとは、お買い得情報満載のショップとお客様を繋ぎ合わせるアプリです。</a>
       </a>
     </div>
      <ul class="list-unstyled">
       <h5 class="text-white">Contact</h5>
        <li><a class="text-secondary">田中 敦嗣</a></li>
        <li><a class="text-secondary">Email:atsushi19890825@gmail.com</a></li>
        <li><a class="text-secondary">TEL:0123-45-6789</a></li>
        <li><a class="text-secondary">FAX:0123-45-6789</a></li>
      </ul>
   </div>
 </div>
 <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>