<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    

    <!-- Bootstrap core CSS -->
   <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
  </head>
  <body>
    
 <%= render "header" %>

<main>
  <div class="top-image">
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
       
         <h1 class="text-white">商品詳細ページ</h1>
        <div class="text-space">
        <a class="lead text-white">気になることがあればコメントをしましょう</a>
        </div>
      </div>
    </div>
  </section>
  </div>
  <div class="post-content">
  <div class="album py-5 bg-light">
    <h3 class="post-list">商品詳細</h3>
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <div class="col">
          <div class="card shadow-sm">
            <div>
            <%= image_tag @post.image, class: "item-img" %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= @post.text %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
     </div>
   </div>
  </div>

</main>

<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container">
    <div class="footer-bar">
      <p class="navbar-brand d-flex align-items-center">
        <strong>About</strong>
      </p>
      <a href="#" class="navbar-brand d-flex align-items-center">
        <a class="text-muted">PromoAppとは、お買い得情報満載のプロショップと職人様を繋ぎ合わせるアプリです。</a>
      </a>
     </div>
     <ul class="list-unstyled">
      <h5 class="text-white">Contact</h5>
      <li><a class="text-secondary">田中 敦嗣</a></li>
      <li><a class="text-secondary">Email:atsushi19890825@gmail.com</a></li>
      <li><a class="text-secondary">TEL:0123-45-6789</a></li>
      <li><a class="text-secondary">FAX:0123-45-6789</a></li>
    </ul>

  </div>
</div>

    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>